@import url('../../globals.css');

.header{
    
    display: flex;
    height: 7.75rem;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    display: flex;
    padding-left:3rem;
    
}
.logo-header{
    margin: 0;
    padding: 0;
    justify-content: center;
}

.pages-route{ 
    display: inline-block;
    list-style: none;
   margin-right: 2rem;
    transition: transform .3s ease-out;
    cursor: pointer;
}

.pages-route:hover{
    transform: scale(1.1);
}

a{
    text-decoration: none;
}

.header-right{
    display: flex;
}

.search{
    position: relative;
    display: inline-block;
    border: none;
}

.search-icon{
    position: absolute;
    top: 50%;
    left: 1.125rem; 
    transform: translateY(-50%);
    padding-top: 1.250rem;
}

.search-input {
    padding: 1.125rem 0 .125rem 2.825rem;
    border:none;
   
}
.icon-bar{
    padding-top: 1.125rem;
    padding-right: 6rem;
}
.social-links{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}