.know-page{
  display: grid;
  grid-template-columns: 50% 50%;
  
  
    
}
.know-page-text{
    display: grid;
    place-items: center;
    align-self: first baseline;
    margin-left: 8rem;


}
.know-page-description{
    width: 450px;
    font-size: 1.125rem;
    text-align: justify;
    font-weight: 200;
   }
.know-page-title{
    font-size: 2.825rem;
    text-align: center;
}

.know-page-image{
   margin-left: 8rem;
   width: 23.20rem;
   height: 31.40rem;
}
