:root {
  --general_color: #040521;
  --secundary_color: #FFC67E;
  --tertiary_color: #FFFFFF;
}

*{
  background-color: var(--general_color);
  color: var(--tertiary_color);
  
}

.body{
  display: flex;
  flex-direction: column;
  max-width: 95vw;
  min-height: 95vh;
}
