.form-component{
    word-wrap:break-word;
    color: white;
    margin-top: 50px;
    grid-column-start:3;
}

.form-name{
    width: 350px;
    height: 33px;
    color: white;
    background-color: black;
    border: 2px solid white;
}

.form-email{
    width: 350px;
    height: 33px;
    background-color: black;
    border: 2px solid white;
    margin-top: 15px; 
}
 
.form-message{
    width: 350px;
    height: 135px;
    background-color: black;
    border: 2px solid white;
    margin-top: 15px;
    word-wrap: break-word;
}